.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.claude
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/ssr
/docs
/lang/php_*.json
/node_modules
/public/build
/public/hot
/public/storage
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/scripts
/storage/*.key
/storage/pail
/vendor
/z_inspos
AGENTS.md
CLAUDE.md
Homestead.json
Homestead.yaml
npm-debug.log
tmpclaude*
yarn-error.log
